.container {
  display: flex;
  align-items: center;
  flex: 1;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  border: 1px dashed var(--GRAY_20);
  gap: 16px;

  &:hover {
    background-color: var(--GRAY_05);
    border: 1px solid transparent;
  }
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--GRAY_20);
  color: var(--GRAY_20);
  position: relative;

  &:checked {
    background-color: var(--BLUE_10);
    color: var(--BLUE_50);
    border: 1px solid var(--BLUE_50);

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      width: 12px;
      height: 8.25px;
      border: 1.5px solid var(--BLUE_50);
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
    }
  }
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  flex: 1;
  color: var(--BLACK);
}

.label_check {
  text-decoration: line-through;
  color: var(--GRAY_54);
}

.button {
  background: transparent;
  border: none;
}
