* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GRAY_54: #0000008a;
  --GRAY_56: #0000008f;
  --BLACK: #000000;
  --WHITE: #ffffff;

  --GRAY_10: #eaecf0;
  --GRAY_20: #d7dde9;
}

body {
  background: var(--WHITE);
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
input,
textarea,
span,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter Tight', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
